<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap and jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- aggiungere css esterno, per ora il path non funziona -->
    <style>
        table{
            height: 30vh;
        }

        td, th{
            padding: 10px;
        }
        

        div input{
            float:left
        }

        .img-container{
            position: relative;
            text-align: center;
            display: flex;
        }

        .shown-image{
            max-height: 30vh;
            display: table-row;
            margin-left: auto;
            margin-right: auto;
        }

        .icon{
            height: 35px;
            width: 35px;
            margin-top: 9px;
        }

        .align-top{
            vertical-align: text-top;
        }

        .border-3{
            border-width: 3px !important;
        }

        .square:before{
            display: block;
            padding-top: 100%; 
        }
    </style>
    <script type = "text/javascript">
        // make the app path dynamic
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>Document</title>
</head>
<body>
    <h1 class = "container text-center mt-2" >Flask Attacks</h1>
    <!-- User Form -->
    <div class = "container">
        <div id="s-msg" class = "container text-danger"></div>
        <form id = "attack-form" class="form" method="POST" action="runattack/" enctype="multipart/form-data">
            <div id = "s-form1" class = "border border-3 rounded mb-4">
                <!-- first form panel -->
                <table class=" mb-0" width = "100%">
                    <colgroup>
                        <col width = "5%">
                        <col width = "20%">
                        <col width = "25%">
                        <col width = "50%">
                    </colgroup>
                    <tr valign = "bottom">
                        <td colspan="3" class = "pb-0"> 
                            <h5>Select or Upload an Image</h5> 
                        </td>
                        <td class = "align-top" rowspan="4">
                            <div class = "img-container">
                                <img id = "s-img1" class="img-fluid border border-3 rounded shown-image" style="display:block" src="" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr class = "p-0">
                        <td class = "pt-3">
                            {{ form.custom_image(accept="image/*", id = "image-upload", width = "10px",
                                                style = "display:none;") }}
                            <label for="image-upload" class = "align-middle btn btn-light border border-2 rounded">
                                <svg width="24px" height="24px" viewBox="0 0 16 16" class="bi bi-arrow-bar-up" style = "display:block" fill="" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                <!--img src="../static/images/upload.png" alt="" class = "icon img-thumbnail ml-2 pl-1 border border-2 rounded btn-light"-->
                            </label>
                        </td>
                        <td class = "pl-0 ml-0">
                            {{ form.imagenet_image(id = "image-select", class = "custom-select btn btn-light") }}
                        </td>
                        <td id = 'selected-image-text'>
                            No image chosen
                        </td>
                    </tr>
                    <tr>
                        <td valign = "top" colspan="2">
                            <h5>Select a network to attack</h5>
                            <div>{{ form.network(id = "select-network" , class = "custom-select btn btn-light") }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button id="run-prediction" class = "btn btn-primary">Predict class</button>
                        </td>
                    </tr>
                    <tr id = "s-class1" class = "border-3 border-top p-0" valign = "top">
                        <th colspan="3"><p>Classified as:</p></th>
                        <td><p id = "original-class" class = "text-center">aaaa</p></td>
                    </tr>
                </table>
            </div>
            <!-- prediction loading message -->
            <p id = "s-loading1" class = "container"> Predicting image class... </p>
            <div id = "s-form2" class = "border border-3 rounded mb-4">
                <!-- second form panel -->
                <table class=" mb-0" width = "100%">
                    <colgroup>
                        <col width = "50%">
                        <col width = "50%">
                    </colgroup>
                    <tr height = "10%">
                        <td class = "pb-0"><h5>Select an attack model</h5></td>
                        <td class = "align-top" rowspan = "3">
                            <div class = "img-container">
                                <img id = "s-img2" class="img-fluid border border-3 rounded shown-image" style="display:block" src="" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr height = "10%" valign = "top">
                        <td  class = "w-25">{{ form.model(id = "select-attack", class="custom-select btn btn-light w-50") }}</td>
                    </tr>
                    <tr  hieght = "10%" valign = "bottom">
                        <td> <button id = 'run-attack' class="btn btn-danger">Run Attack</button></td>
                    </tr>
                    <tr id = "s-class2" class = "border-3 border-top pb-0">
                        <td><p>Classified as:</p></td>
                        <td><p id = "modified-class" class = "text-center"></p></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <br>

    <!-- success / failure message -->
    <h5 id = "s-result" class = "bg-success text-white text-center mt-0 mb-3 p-2"></h5>

    <!-- attack loading messages -->
    <p id = "s-loading2" class = "container"> Running attack... </p>


<script>
    // valid formats for the uploaded images
    const VALID_IMAGE_TYPES = ['image/jpg', 'image/jpeg', 'image/png'];
    // ids of all the input elements in the form
    const INPUT_IDS = [
        "image-select",
        "image-upload",
        "select-network",
        "select-attack",
        "run-attack",
        "run-prediction"
    ]

    const UI_IDS = [
            "s-form1",
            "s-form2",
            "s-img1",
            "s-img2",
            "s-class1",
            "s-class2",
            "s-loading1",
            "s-loading2",
            "s-result",
    ]

    var original_image = null;
    var original_class = null;  // save as an object with keys { name, code}
    var modified_class = null;  // save as an object with keys { class_name, code}
    var selected_network = null;
    var selected_attack = null;

    $(document).ready(function(){
        //initialize UI
        hide_elements_by_id(UI_IDS);
        $('#s-form1').show();
    });

    // Event handlers
    $('#image-select').change(function(){
        // UI
        hide_elements_by_id(["s-form2","s-class2","s-class1", "s-result"]);

        show = false;
        if(($(this).val())){
            // if an imagenet image is selected
            original_image = base64_to_blob($(this).val(), "image/jpeg");
            show = true;
            $('#selected-image-text').html($("#image-select option:selected").text()); 
        }else{
            // if the starting option is selected
            $('#selected-image-text').html("No image chosen"); 
            original_image = null;
        } 
        // remove eventual uploaded files
        $('#image-upload').val("");
        console.log( $('#image-upload').prop("files"));
        set_img_tag('s-img1',original_image,show);
    })

    $('#image-upload').change(function(){ 
        hide_elements_by_id(["s-form2","s-class2","s-class1", "s-result"]);
        image =  $(this).prop("files")[0]

        // check image format
        if (!VALID_IMAGE_TYPES.includes(image['type'])) {
            // notify the user and reset the input field
            $("#s-msg").html("Please select an image in format png / jpg / jpeg.");
            $("#s-msg").show();
            $("#image-upload").val(null);
        }else{
            original_image = image
            set_img_tag('s-img1', image, true)
            $('#selected-image-text').html($("#image-upload").val()); 
            $('#image-select').prop('selectedIndex',0);
        }
    });

    $("#select-network").change(function(){
        select_network( $(this).val());   
        hide_elements_by_id(["s-form2","s-class2","s-class1", "s-result"]);
    });

    $("#select-attack").change(function(){
        select_attack( $(this).val());    
        console.log(selected_attack);
    });

    $("#run-prediction").on("click", function(e){
        // prevent page reload
        e.preventDefault();

        if(original_image && selected_network){
            $("#s-loading1").show()  
            disable_input(INPUT_IDS);
            hide_elements_by_id(["s-msg","s-form2","s-result"])
            run_prediction(original_image, selected_network, (output) => {
                console.log("callback executed");
                resp = Object.prototype.toString.call(output); 

                //response is a string
                if(Object.prototype.toString.call(output) === "[object Object]"){

                    // if the passed image is a custom image by the user, ask for confirmation on the prediction
                    abort = false;
                    if( $("#image-upload").val() != ''){
                        if (confirm('Your image was classified as: \n \"'+output['class_name']
                            + '\" \n are you satisfied with the prediction?')) {
                            // keep going
                        } else {
                            // abort the operation
                            abort = true;
                        }
                    }

                    if(!abort){
                        // get original image class name and code
                        original_class = {
                            'name': output['class_name'],
                            'code': output['class_code']
                        }
                        // change UI
                        $("#original-class").html(original_class['name']);
                        show_elements_by_id(["s-form2","s-class1"]);
                    }
                }
                // response is a number
                else{
                    print_server_response(output, $("#s-msg").get());
                    $("#s-msg").show()
                }
                // unlock inputs at the end of the operation
                $("#s-loading1").hide()  
                enable_input(INPUT_IDS);
            });
        }
        else if(!selected_network){
            $("#s-msg").html("Please select a network to classify the image");
            $("#s-msg").show();
        }
        else if(!original_image){
            $("#s-msg").html("Please select an image to classify");
            $("#s-msg").show();
        }
    });

    $('#run-attack').on("click", function(e){

        // prevent page reload
        e.preventDefault();
        if(original_image && selected_attack && selected_network){

            hide_elements_by_id(["s-msg", "s-result"])  
            disable_input(INPUT_IDS);
            $("#s-loading2").show()  

            //response cointains keys 'src' and 'class'
            run_attack(original_image, selected_attack, selected_network, (output) =>{
                if(Object.prototype.toString.call(output) === "[object Object]"){
                        // get output and show modified image
                        modified_class =  {
                            "name": output['class_name'],
                            "code": output['class_code']
                        }
                        $("#s-img2").attr("src", output['src']);
                        $("#modified-class").html(modified_class['name']);
                        
                        // compare predictions
                        if(modified_class['code'] === original_class['code']){
                            $("#s-result").html("Attack failed");
                            $("#s-result").removeClass("bg-success");
                            $("#s-result").addClass("bg-danger");
                        }
                        else{
                            $("#s-result").html("Attack successful");
                            $("#s-result").removeClass("bg-danger");
                            $("#s-result").addClass("bg-success");
                        }
                        show_elements_by_id(["s-result","s-img2","s-class2"])

                        // generate file and download link from the modified image 
                        fetch(document.getElementById('s-img2').src)
                        .then(res => res.blob())
                        .then(blob => {
                            var imageUrl2 = window.URL || window.webkitURL;
                            $("#download").attr('href', imageUrl2.createObjectURL(blob))
                        })
                }
                //response is a number
                else{
                    print_server_response(output, $("#s-msg").get());
                    $("#s-msg").show()
                }
                $("#s-loading2").hide()
                enable_input(INPUT_IDS);
            });
        }
        else if(!selected_attack){           
            $("#s-msg").html("Please select an attack model");
            $("#s-msg").show();
        }
        else if(!selected_network){           
            $("#s-msg").html("Please select a network to classify the image");
            $("#s-msg").show();
        }
        else if(!original_image){
            $("#s-msg").html("Please select an image to classify");
            $("#s-msg").show();
        }
    });

    // load an image from a base 64 string
    // second argument is optional: id of an img tag to show the image in
    function image_select(image, img_tag_id = null){
        console.log("selected an imagenet image ...")
    }

    // save the uploaded image file
    // second argument is optional: id of an img tag to show the image in
    function image_upload(image, img_tag_id = null){

    }

    // save the selected network for the attack
    function select_network(network){
        selected_network = network;
    }

    // save the selected attack model
    function select_attack(attack){
        selected_attack = attack;
    }
    
    // predict the class of an image using a specific network
    // input: file: input image, string: network name, callback: function (optional)
    // output: string: name of the predicted class 
    //         or int: server codes 200, 404, 500
    function run_prediction(image, network, callback = null){
        // generate json data
        jsonData = {
            "network": network
        }
        var formData = new FormData();
        formData.append("image", image);
        formData.append("jsonData", JSON.stringify(jsonData));

        // ajax request, contentType and processData have to be false for file uploading to work
        $.ajax({
            method: "POST",
            url: $SCRIPT_ROOT + "/predict/",
            contentType: false,
            processData: false,
            data: formData,
            dataType: "json",
            xhr:function(){
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function(){
                    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
                        // get json response data
                        response = xhr.responseText;
                        response = JSON.parse(response);
                        output = {
                            'class_name': response['class_name'],
                            'class_code': response['class_code']
                        }
                        if(callback){
                            return callback(output)
                        }
                        else return xhr.status
                    }
                    // error handling
                    else if(xhr.readyState == XMLHttpRequest.DONE){
                        if (callback){
                            return callback(xhr.status)
                        }
                        else
                            return xhr.status
                    }
                }
                return xhr;
            }
        });
    }

    // run an adversarial attack on the input image using one of the available models
    // input: file: input image, string: attack name, string: network name, callback: function (optional) 
    // output: string: modified image as base64 string, string: the predicted class on the image
    //         or int: server codes 200, 404, 500
    function run_attack(image, model, network,callback = null){
        // generate json data
        var jsonData = {}
        jsonData['model'] = model
        jsonData['network'] = network

        // validate input
        if(!original_image){
            $("#s-msg").html("Please select an image to upload.");
            $("#s-msg").show()
            return
        }
        if(jsonData['model'] == ''){
            $("#s-msg").html("Please select a model for the attack.");
            $("#s-msg").show()
            return
        }
        if(jsonData['network'] == ''){
            $("#s-msg").html("Please select a network to attack.");
            $("#s-msg").show()
            return
        }

        // add data to FormData to send it in ajax
        var formData = new FormData();
        formData.append("image", original_image);
        formData.append("jsonData", JSON.stringify(jsonData));

        // ajax request
        $.ajax({
            method: "POST",
            url: $SCRIPT_ROOT + "/runattack/",
            contentType: false,
            processData: false,
            data: formData,
            dataType: "json",
            xhr:function(){
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function(){
                    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
                        //get json response data
                        response = xhr.responseText;
                        response = JSON.parse(response);
                        output = {
                            'src': response['encoding'] + response['img_base64'],
                            'class_name': response['mod_class_name'],
                            'class_code': response['mod_class_code']
                        };

                        if(callback){
                            return callback(output);
                        }
                        else
                            return 202;
                    }
                    // error handling
                    else if(xhr.readyState == XMLHttpRequest.DONE){
                        if (callback){
                            return callback(xhr.status);
                        }
                        else
                            return xhr.status;
                    }
                }
                return xhr;
            }
        });
    }

    // hide elements by passing their ids as a string array
    function hide_elements_by_id(ids){
        ids.forEach(id => {
            $("#"+ id).hide();
        });
    }

    // show elements by passing their ids as a string array
    function show_elements_by_id(ids){
        ids.forEach(id => {
            $("#"+ id).show();
        });
    }

    function disable_input(ids){
        ids.forEach(id => {
            $("#"+ id).prop("disabled", true);
        });
    }

    function enable_input(ids){
        ids.forEach(id => {
            $("#"+ id).prop("disabled", false);
        });
    }

    // prints a message on a given html element according to an http response code
    function print_server_response(code, element){
        switch(code){
            case 200:
                element.innerHtml = "OK";
                break;
            case 404:
                element.innerHtml = "Resource not found";
                break;
            case 500:
                element.innerHtml = "Internal server error";
                break;
        }
    }

    // convert a base64 string to a blob of a given MIME type
    // if no extension is passed, jpeg will be used
    function base64_to_blob(b64data, MIMEtype = 'image/jpeg'){
        if(MIMEtype == 'image/jpg'){ MIMEtype == 'image/jpeg'}    // src attribute can only read jpeg

        // atob decodes a base64 string into a new string with a character for each byte.
        const byteCharacters = atob(b64data);
        const byteNumbers = new Array(byteCharacters.length);

        // each byte character has a byte value which can be obtain with charCodeAt()
        for (let i = 0; i < byteCharacters.length; i++) {
            byteNumbers[i] = byteCharacters.charCodeAt(i);
        }

        // Uint8Array converts to a real type array
        const byteArray = new Uint8Array(byteNumbers);

        // the new array can ve converted into a blob
        const blob = new Blob([byteArray], {type: MIMEtype});
        return blob
    }

    // send an image and a tag to load it in, set show = true to show the tag, false to hide it
    function set_img_tag(img_tag_id, image, show = true){
        if(image){
            var imageUrl = window.URL || window.webkitURL;
            $('#' + img_tag_id).attr("src",imageUrl.createObjectURL(image));
        }
        if(show){
            $('#' + img_tag_id).show();
        }
        else{
            $('#' + img_tag_id).hide();
        }
    }

</script>
</html>