<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap and jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- external css and js -->
    <link rel="stylesheet" href="../static/css/flask-attacks.css">
    <script src="../static/js/api.js"></script>
    <script src="../static/js/ui.js"></script>
    <script src="../static/js/images.js"></script>
    <script type = "text/javascript">
        // make the app path dynamic
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>Document</title>
</head>
<body>
    <h1 class = "container text-center mt-2" >AGV Attacks</h1>
    <!-- modal windows -->
    {% include "class-modal.html" %}
    {% include "filter-modal.html" %}
    <!-- User Form -->
    <div class = "container w-75">
        <!-- first form panel -->
        <h5>Select or Upload an Image</h5> 
        <div id = "s-form1" class = "border border-3 rounded mb-4">
            {% include "form1.html" %}
        </div>

        <!-- predicted class list-->
        <div id="s-class-list">
            <h5>Predicted classes</h5>
            <div>
                {% include "class-list.html" %}
            </div>
        </div>
        <br>
        <!-- second form panel -->
        <div id = "s-form2">
            <h5>Select or create an attack model</h5>
            <div class = "border border-3 rounded mb-4">
                {% include "form2.html" %}
            </div>
        </div>
    </div>
    <br>

    <!-- success / failure message -->
    <h5 id = "s-result" class = "container bg-success text-white text-center mt-0 mb-3 p-2 w-75"></h5>

<script>
    
    // valid formats for the uploaded images
    const VALID_IMAGE_TYPES = ['image/jpg', 'image/jpeg', 'image/png'];
    // ids of all the input elements in the form
    const INPUT_IDS = [
        "image-select",
        "image-upload",
        "select-network",
        "select-attack",
        "run-attack",
        "run-prediction",
        "class-button",
        "custom-filter"
    ]

    const UI_IDS = [
            "s-msg1",
            "s-msg2",
            "s-form1",
            "s-form2",
            "s-img1",
            "s-img2",
            "s-class1",
            "s-class2",
            "s-result",
            "s-class-list",
    ]
    const images = {{ images_data|tojson}};
    const models = null

    var original_image = new CustomImage("s-img1");
    var modified_image = new CustomImage("s-img2");
    var selected_network = null;
    var selected_attack = null;

    $(document).ready(function(){
        //initialize UI
        hide_elements_by_id(UI_IDS);
        $('#s-form1').show();

        // initialize predefined images
        $('#image-select').append(
                `<option value=''>ILSVRC2012 images</option> `
            );

        for( i = 0; i < images.length; i++){
            $('#image-select').append(
                // save image index as the option value
                `<option value='${i}'>${images[i]['file_name']}</option> `
            );
        }
    });

    // Event handlers
    $('#image-select').change(function(){
        // UI
        hide_elements_by_id(["s-form2","s-class-list","s-class2","s-class1", "s-result", "s-img2"]);
        image = images[$(this).val()]

        // if an imagenet image is selected
        if(image){
            original_image.fromBase64(image['b64data']); // new url for the image
            original_image.visible(true);

            $('#selected-image-text').html(image['class_name']); 
        // if the starting option is selected
        }else{
            $('#selected-image-text').html("No image chosen"); 
            original_image.visible(false);
            original_image.reset();
        } 
        // remove eventual uploaded files
        $('#image-upload').val("");
        class_list["reset"]();
    })

    $('#image-upload').change(function(){ 
        hide_elements_by_id(["s-form2","s-class-list","s-class2","s-class1", "s-result", "s-img2"]);
        image =  $(this).prop("files")[0];

        // check image format
        if (!VALID_IMAGE_TYPES.includes(image['type'])) {
            // notify the user and reset the input field
            message1("Please select an image in format png / jpg / jpeg.");
            $("#image-upload").val("");
        }else{
            original_image.reset();
            original_image.fromBlob(image)
            original_image.visible(true);

            //UI
            $('#selected-image-text').html($("#image-upload").val()); 
            $('#image-select').prop('selectedIndex',0); 
        }
        class_list['reset']();
    });

    $("#select-network").change(function(){
        selected_network = $(this).val();   
        hide_elements_by_id(["s-form2","s-class-list", "s-class2","s-class1", "s-result", "s-img2"]);
    });

    $("#select-attack").change(function(){
        selected_attack = $(this).val();  
        console.log(selected_attack);  
    });

    $("#run-prediction").on("click", function(e){
        // prevent page reload
        e.preventDefault();

        //reset modified image
        modified_image.reset();

        if(original_image.blob && selected_network){
            //UI
            message1("running prediction ... ", true);
            disable_input(INPUT_IDS);
            hide_elements_by_id(["s-form2","s-class-list","s-result", "s-img2"])
            class_list["reset"]();

            run_prediction(original_image.blob, selected_network, top = 3, (output) => {
                
                //response is a string
                if(Object.prototype.toString.call(output) === "[object Object]"){

                    // convert output object into an array and order it by probability
                    var predictions = Object.keys(output).map(function(class_code){
                        return [parseInt(class_code), output[class_code]['probability'], output[class_code]['name']];
                    }); 
                    predictions = predictions.sort((x,y) => y[1] - x[1]);
                    var class_code = parseInt(predictions[0][0]);

                    // if the passed image is a custom image by the user, show a modal window to choose
                    // one from the top predicted classes
                    if( $("#image-upload").val() != ''){

                        // no expected class in this case
                        var expected = $("#" + class_modal['expected']).children()
                        $(expected[0]).html("");
                        $(expected[1]).html("");

                        // set original image class name and code
                        original_image.class_code = class_code;
                        original_image.class_name =  output[class_code]["name"];

                        class_modal['ok'] = function(){
                            // close modal
                            class_modal['close']();
                        }

                        // load predicted classes and their probabilities
                        predictions.forEach(function(entry){
                            class_modal['new_entry'](output[parseInt(entry[0])]);
                        });

                        // show modal
                        $(class_modal['open']());

                        // change UI
                        class_list["load_buttons"](predictions);
                        $("#original-class").html(original_image.class_name);
                        message1("");
                        show_elements_by_id(["s-form2","s-class-list","s-class1"]);
                    }
                    // if the passed image is a preset image
                    else{
                        index = document.getElementById("image-select").selectedIndex -1; // -1 because of neutral option
                        class_code = parseInt(predictions[0][0]);

                        // set expected class text
                        var expected = $("#" + class_modal['expected']).children()
                        $(expected[0]).html("expected class:");
                        $(expected[1]).html(images[index]['class_name']);

                        class_modal['ok'] = function(){
                            // close modal
                            class_modal['close']();
                            return
                        }

                        // load predicted classes and their probabilities
                        predictions.forEach(function(entry){
                            class_modal['new_entry'](output[parseInt(entry[0])]);
                        });

                        // if most accurate prediction is the right one
                        if(images[index]['class_code'] == class_code){
                            $("#" + class_modal['result']).html("The image was classified correctly");
                            $("#" + class_modal['result']).css("color","#5cb85c");

                            // set original image class name and code
                            original_image.class_code = class_code;
                            original_image.class_name =  output[class_code]["name"];

                            // change UI
                            class_list["load_buttons"](predictions, true);
                            $("#original-class").html(original_image.class_name);
                            message1("");
                            show_elements_by_id(["s-form2","s-class-list","s-class1"]);

                        }else{
                             // if no correct prediction was found, return an error message
                            $("#" + class_modal['result']).html("The model failed to calssify the image correctly");
                            $("#" + class_modal['result']).css("color","#d9534f")

                            // reset current prediction
                            original_image.class_code = null;
                            original_image.class_name =  null;

                            // UI
                            message1(`No valid classification for this image: try another image or another classifier `);
                            $("#original-class").html("");
                        }
                        // show modal
                        $(class_modal['open']());
                    }
                }
                // response is a number
                else{
                    print_server_response(output, $("#s-msg1").get());
                    $("#s-msg1").show()
                }
                // unlock inputs at the end of the operation 
                enable_input(INPUT_IDS);
            });
        }
        else if(!selected_network){
            message1("Please select a network to classify the image");
        }
        else if(!original_image.blob){
            message1("Please select an image to classify");
        }
    });

    $('#run-attack').on("click", function(e){
        // prevent page reload
        e.preventDefault();
        if(original_image.blob && selected_attack && selected_network){
            //UI
            hide_elements_by_id(["s-msg1","s-msg2", "s-result"])  
            disable_input(INPUT_IDS);
            class_list['toggle'](false);
            $("#s-loading2").show();

            //response cointains keys 'src' and 'class'
            run_attack(original_image.blob, selected_attack, selected_network, top = 3, (output) =>{
                if(Object.prototype.toString.call(output) === "[object Object]"){
                        // get output and show modified image
                        modified_class =  {
                            "name": output['class_name'],
                            "code": output['class_code']
                        }
                        modified_image.fromBase64(output['base64']);
                        modified_image.class_code = output['class_code'];
                        modified_image.class_name = output['class_name'];

                        // UI
                        $("#modified-class").html( modified_image.class_name);
                        modified_image.visible(true);
                        
                        // compare predictions
                        if(modified_image.class_code === original_image.class_code){
                            $("#s-result").html("Attack failed");
                            $("#s-result").removeClass("bg-success");
                            $("#s-result").addClass("bg-danger");
                        }
                        else{
                            $("#s-result").html("Attack successful");
                            $("#s-result").removeClass("bg-danger");
                            $("#s-result").addClass("bg-success");
                        }
                        show_elements_by_id(["s-result","s-class2"])

                        // generate file and download link from the modified image 
                        fetch(document.getElementById('s-img2').src)
                        .then(res => res.blob())
                        .then(blob => {
                            var imageUrl2 = window.URL || window.webkitURL;
                            $("#download").attr('href', imageUrl2.createObjectURL(blob))
                        })
                }
                //response is a number
                else{
                    print_server_response(output, $("#s-msg1").get());
                    $("#s-msg1").show()
                }

                // UI
                $("#s-loading2").hide()
                enable_input(INPUT_IDS);
                class_list['toggle'](true);
            });
        }
        else if(!selected_attack){       
            console.log("selected attack", selected_attack);    
            message2("Please select an attack model");
        }
        else if(!selected_network){           
           message1("Please select a network to classify the image");
            $("#s-msg1").show();
        }
        else if(!original_image){
           message1("Please select an image to classify");
            $("#s-msg1").show();
        }
    });

    $("#custom-filter").on("click", function(){
        var callback = function(output){
            json_model = JSON.stringify(output)
            selected_attack = json_model;
            $('#select-attack').append(
                `<option value='${json_model}'>${output['name']}</option> `
            );
        }
        filter_modal['open'](callback);
        console.log("selected_attack: ", selected_attack);
    });

</script>
</html>